.business{
  background-image: linear-gradient(to top, #000000, #276875);

}


.business-card .list-item .location,
.business-card .list-item .duration,
.business-card .list-item .date{
  opacity: 0.7;
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
  padding: 4px 0 3px;

}

.business-card .list-item{
  min-height: 69px !important;
  padding:  24px 32px 23px 31px !important;
}

.business-card  .list-item .equip-name{
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(38,38,38,0.9);
}

.clock {
  width: 15px;
  height: 17.5px;
  object-fit: contain;
  
}

.date-icon {
  width: 15px;
  height: 17px;
  object-fit: contain;
}

.business-card .list-item img{
  margin-right: 10px;
}

.heading-tabs ul li .green-tick{
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-left: 10px;

}

.heading-tabs .approve-bids{
  display: inline-block;
}


@media screen and (max-device-width: 991px) { 
  .business-card .list-item .location,
  .business-card .list-item .duration,
  .business-card .list-item .date{
    text-align:   left;
    padding-left:   15px;

  } 
    .business-card .list-item .location{
        margin-top: 10px;
    }
}


@media screen and (min-device-width: 992px) and (max-device-width: 1199px) { 
  .business-card .list-item .location,
  .business-card .list-item .duration,
  .business-card .list-item .date{
    padding-left:   15px;
    margin-top:   10px;
  }
  .business-card .list-item .location{
    text-align:left;
  }
  .business-card .list-item .duration{
    text-align:center;
  }
  .business-card .list-item .date{
    text-align:   right;
  } 
}