.custom-navbar {
    border: none;
    background-color: transparent;
}

.topbar_container {
    padding: 5px 15px;
    background: #094b7d;
    color: #fff;
    height: 80px;
    position:relative;
}

.topbar_container .navbar-header .logo {
    width: 200px;
    filter: invert(1);
    cursor: pointer;
    height: auto;
    margin-top: -5px;
}

.topbar_container .navbar-text {
    max-width: 100%;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    top: 15px;
    position: relative;
	float: none;
    color: white !important;
}
.index-title{
    float: right !important;
}

.topbar_container .navbar-text p {
    font-size: 26px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.topbar_buttons {
    padding: 0px;
    height: 60px;
    position: relative;
    float: right;
    top: -21px;
}

.topbar_buttons .btn {
    background: #fff;
    color: #094b7d;
    outline: none !important;
    margin-right: 2px;
    margin-top: 0;
}

.topbar_buttons .btn span.glyphicon {
    font-size: 20px;
}

.button_profile_container, .button_settings_container {
    position: absolute;
    background: #fff;
    width: 245px;
    top: 55px;
    right: -2px;
    z-index: 2;
    text-align: left;
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
	display: none;
}

.button_profile_container .arrow {
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: -13px;
    border-left: 1px solid rgba(208, 202, 202, 0.61);
    border-top: 1px solid rgba(208, 202, 202, 0.61);
}

.button_profile_container div.profile_info, .button_settings_container div.profile_info, .button_notifications_container div.profile_info {
    /* margin-left: 15px; */
    width: 215px;
    float: none;
}

.button_profile_container .profile_name, .button_settings_container .profile_name, .button_notifications_container .profile_name {
    color: #094b7d;
    font-size: 24px;
    margin: 0;
}
.profile_role {
    color: #094b7d;
    font-size: 18px;
    margin: 0;
}
.menu-list {
    margin-bottom: 0;
    padding-left: 7PX;
    margin-top: 12px;
    margin-left: -5px;
    min-width: 180px;
}
.menu-list .list-group-item {
    padding: 10px 4px;
}
.button_notifications_container {
    position: absolute;
    background: #fff;
    width: 80%;
    top: 75px;
    right: 80px;
    z-index: 2;
    text-align: left;
    padding: 19px;
    border-radius: 0px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display: none;
}


/*@media (max-width: 1025px) {
    .btn{
        padding: 6px 7px;
    }
    .topbar_buttons .btn span.glyphicon {
        font-size: 17px;
    }
    .topbar_buttons .btn{
        margin-top: 2px;
    }
}*/

@media (max-width: 767px) and (min-width: 321px) {
    .topbar_container .navbar-header .logo {
        width: 130px;
        margin-left: 0;
    }
    
    .custom-navbar{
        height: 40px;
        min-height: 0;
    }
    .topbar_container{
        height: 60px;
    }
   
  

}

@media (max-width: 426px) {
    .topbar_buttons{
        right:0;
    }

    .topbar_container .navbar-text p{
        font-size: 12px;
        margin-top: 0;

    }
    .topbar_container .navbar-header .logo {
        width: 110px;
        position: relative;
        top: 3px;
        margin-left: 5px;
    }
    .topbar_buttons{
        top: -92px;
    }
    .topbar_container .navbar-text{
        top: -56px;
        width: 130px;
    }
    .topbar_container{
        height: 60px;
    }
}

.profile_body, .add_profile_body{
    background-color: #f9f8f8;
    border :1px solid #094b7d;
}
.no-border{
    border:none;
}

.remarks_textbox{
    width: 100% !important;
}


.loader{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.49);
   
} 
.loaderBack{
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 100;
    display: block;
    top: 45%;
    left: 45%;
}

/* LOADER 1 */

#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

#loader-1:before{
  z-index: 100;
  animation: spin 1s infinite;
}
#loader-1:after{
  border: 10px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: white !important;
}


@media (max-width: 991px) and (min-width:768px) {
    .topbar_container .navbar-text{
        top: 20px ;
        width: 375px;
    }
    .topbar_container .navbar-text p{
        font-size: 20px;
    }
    .topbar_buttons{
        top: -13px;
    }
}