.wrapper .heading {
  margin:71px 0 0 77px;
  font-size: 36px;
  font-weight: bold;
}

.graphs-left{
  padding: 0 0 0 60px;
}

.quick-access h3{
  margin-left: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 23px;
  margin-top: 30px;
}

.proj-category{
  height:229px;
  width: 487px;
  background-color: #2A5376;
  margin: 15px 0 40px;

  text-align: center;
  position: relative;
  border-radius: 5px;
}

.proj-category select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
  background-color: rgba(255,255,255,0.8);
}

.proj-category select::-ms-expand {
  display: none;
}

.proj-category .tick-1{
  position: absolute;
  left: 97px;
  top: 46px;
}

.eq-dd{
  border:none;
  padding: 8px 20px;
  position: absolute;
  right: 115px;
  width: 240px;
  height: 61px;
  top: 25px;
  border-radius: 3px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color:rgba(38,38,38,0.6);

}


select + .down-arrow-1 {
  position: absolute;
  top: 45px;
  right: 135px;
  pointer-events: none;
  color:rgba(38, 38, 38,0.6);
  width: 12px;
  height: 7.4px;
}

.links-block{
  margin-bottom: 10px;
  position: relative;
  top: 98px;
}

.links-block .go-to{
  float: left;
  color:#252525;
  padding: 5px 10px;
  background-color: rgba(255,255,255,0.8);
  border-bottom-right-radius: 17px;
  border-top-right-radius: 17px;
  width: 63px;
  height: 34px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.in-label{
  position: relative;
  left: 100px;
  top: 0;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255,255,255,0.1);
}


.links-block .right-arrow {
  float: right;
  padding: 3.5px 10.5px 3.5px 3.5px;
  background: rgba(255,255,255,0.8);
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  margin-top: -8px;
  width: 51px;
  height: 44px;
}


.proj-category .tick-2{
  position: absolute;
  left: 97px;
  bottom: 46px;
}


.pj-dd{
  border: none;
  padding: 8px 20px;
  position: absolute;
  right: 115px;
  width: 240px;
  height: 61px;
  bottom: 25px;
  border-radius: 3px;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38,38,38,0.6);
}


select + .down-arrow-2 {
  position: absolute;
  top: 163px;
  right: 135px;
  pointer-events: none;
  color:rgba(38, 38, 38,0.6);
  width: 12px;
  height: 7.4px;
}

.graphs-right{
  padding: 0 0 0 60px;
}
.task-header{
  height: auto;
  width: 432px;
}

.task-header h3{
  display: inline-block;
  margin-left: 17px;
  margin-top: 30px;
  font-size: 23px;
}
.nav-tabs{
  border-bottom: 0;
}
.custom-tabs{
  display: inline-block;
  position: relative;
  top: 13px;
  left: 26px;
}

.custom-tabs li a {
  color:white;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 10px 20px 6px 0;
  padding: 0;
}


.custom-tabs .active a{
  border-radius: 1px;
  border-bottom: 3px solid white !important;
}

.custom-tabs>li>a:focus,
.custom-tabs>li>a:hover,
.custom-tabs>li>a{
  background-color: transparent ;
  border: none;
}

.custom-tabs>li>a:active,
.custom-tabs>li>a:focus,
.custom-tabs>li>a:visited{
  border-radius: 1px;
  border-bottom: 3px solid white !important;
}

.custom-tabs>li.active>a,
.custom-tabs>li.active>a:focus,
.custom-tabs>li.active>a:hover,
.custom-tabs>li.active>a:visited,
.custom-tabs>li.active>a:active{
  background-color: inherit;
  border:none;
  color:white;
}

.tick-block{
  display: inline-block;
  height: auto;
  padding: 2px;
  background-color: white;
  border-radius: 11.8px;
  width: 108.2px;
  margin-left: 57px;
  position: absolute;
  top: 32px;
}

.tick-block span{
    margin: 0 2px; 
}

.tick-block span:nth-child(4){
  margin-right: 0;
}


.tasks-content{
  margin-top: 15px;
}

.pending-block{
  position: relative;
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 432px;
  height: 165px;
}
.type-ri .outer-circle{
   background-color: rgba(255, 155, 67,0.05);
    
}

.type-ri .inner-circle{
  background-color: rgba(255, 155, 67,0.1);
    
}

.type-ps .outer-circle{
background-color: rgba(67, 157, 255,0.05);
}

.type-ps .inner-circle{
background-color: rgba(67, 157, 255,0.1);
}

.type-nb .outer-circle,
.type-ab .outer-circle{
background-color: rgba(52, 202, 6,0.05);
}

.type-nb .inner-circle,
.type-ab .inner-circle{
background-color: rgba(52, 202, 6,0.1);
}

.type-bc .outer-circle{
background-color: rgba(131, 39, 180,0.05);
}

.type-bc .inner-circle{
background-color: rgba(131, 39, 180,0.1);
}

.raise-invoice,
.payment-status,
.new-bid,
.approved-bid,
.bill-check{
    padding: 2px 20px 3px 17px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 12px;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    position: relative;
    top: 1px;
}

.raise-invoice,
.invoice span{
  background-color: rgba(248, 143, 51,0.7);
}


.payment-status,
.update-status span{
  background-color:rgba(67, 157, 255,0.7);
}

.new-bid,
.bid span,
.approved-bid,
.send-bid-details span{
background-color: rgba(52, 202, 6,0.7)
}

.bill-check,
.check-details span{
background-color: rgba(131, 39, 180,0.7)
}

.pending-type .date{
  font-size: 12px;
  opacity: 0.5;
  font-family: 'Heebo', sans-serif;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin-left: 50px;
  position: relative;
  top: 5px;
}

.proj-name{
  margin-top: 15px;
  margin-left: 20px;
}

.time-period p,.proj-name p{
  opacity: 0.5;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.proj-name h4{
  opacity: 0.9;
  font-size: 16px;
  margin-top: 3px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff ;
}

.time-period{
  margin-left: 20px;
  margin-top: 15px;
}
.time-period label{
  background: #6E8598;
  padding: 4px 10px;
  position: relative;
  right: 5px;
  border-radius: 5px;
  opacity: 0.8;
  top: -2px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
}

.time-period{
  margin-top: 13px;
}

.time-period p{
  margin:0 0 6px 0;
}


.time-period .location{
  opacity: 0.7 !important;
  position: relative;
  top: -7px
}
.time-period .location img{
  width: 13px;
  height: 13px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 3px;

}

.dash:after{
  opacity: 0.8;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  content: "";
  top: 12px;
  border: 1px solid white;
  width: 5px;
  right: -11px;
}

.outer-circle{
  width: 163px;
  height: 165px;
  border-top-left-radius: 82.4px;
  border-bottom-left-radius: 82.4px;
  position: absolute;
  top: 0;
  right: 0;
}

.inner-circle{
  width: 136px;
  height: 165px;
  float: right;
  position: relative;
  border-top-left-radius: 105.4px;
  border-bottom-left-radius: 105.4px;
}

.task-type{
  position: absolute;
  right: 15px;
  top: 61px;
  text-align: center;
  padding-top: 10px;
}

.task-type span{
  padding: 11px;
  border-radius: 20px;
  width: 163px;
  height: 165px;
}

.task-type span img{
  margin-bottom: 3px;
  margin-right: 1px;
}
.task-type p{
  width: 75px;
  margin-top: 14px;
}



